QHeaderView {
  font-size: 18px;
  font-weight: bold;
  border: none;
}

QHeaderView::item {
  border: none;
}
                         
QTableView {
  text-align: top;
  padding: 10px;
  /* background: white; */
  /* width: 15px; */
  /* font-size: 18px; */
}

QTableView::item {
  border: none;
}   

