QHeaderView {
  font-size: 18px;
  font-weight: bold;
  border: none;
}

QHeaderView::item {
  border: none;
}
                         
QTableView {
  text-align: top;
  padding: 3px;
  background: white;
  width: 15px;
  font-size: 18px;
}

QTableView::item {
  border: none;
  font-size: 18px;
  font-weight: bold;
}   

QTableView::item:selected {
  selection-background-color: yellow;
}