URL: sqlite+pysqlite:///test.sqlite
CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL,
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> initial_dummy

INSERT INTO alembic_version (version_num) VALUES ('initial_dummy') RETURNING version_num;

-- Running upgrade initial_dummy -> fecb84f81920

DROP TABLE sql_statements_log;

DROP TABLE "SpatialIndex";

DROP TABLE "ElementaryGeometries";

DROP TABLE "KNN";

DROP TABLE data_licenses;

UPDATE alembic_version SET version_num='fecb84f81920' WHERE alembic_version.version_num = 'initial_dummy';